body {
    background-color: rgb(165, 66, 66);
    color: whitesmoke;
}
.meunome, .descrição {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    text-align: center;
}
em {
    font-size: 25px;
    color: antiquewhite;
}
#foto {
    border-radius: 20px;

}
h2,h3, ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
    text-align: center;
}
.aprender {font-size: 18px;}
.colaborar {font-size: 20px;}
.dedicação {font-size: 22px;}
.comprometimento {font-size: 24px;}
.seriedade {font-size: 26px;}