/* styles.css */

/* Estilos globais */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
} */

h1, h2, h3 {
    color: #333;
}

/* Estilos do cabeçalho */
header {
    background-color:  #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

header h2 {
    font-size: 20px;
    margin-top: 0;
    color: #666;
}

/* img {
  width: 100%;
  max-width: 200px;
} */

/* Estilos dos projetos */
.projects-title {
    text-align: center;
}

#projects {
    /* padding: 20px; */
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.project {
    /* margin-bottom: 20px; */
    text-align: center;
}

.project h3 {
    font-size: 20px;
    /* margin-bottom: 5px; */
    text-align: center;
}

.project p {
    /* margin-top: 0; */
    color: #666;
    text-align: center;
    /* width: 100%; */
    /* max-width: 400px; */
}

/* Estilos das tecnologias */
#technologies {
    padding: 20px;
}

#technologies ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#technologies li {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Estilos da experiência */
#experience {
    padding: 20px;
}

.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.job p {
    margin-top: 0;
    color: #666;
}

/* Estilos da educação */
#education {
    padding: 20px;
}

.education {
    margin-bottom: 20px;
}

.education h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.education p {
    margin-top: 0;
    color: #666;
}

/* Estilos das habilidades */
#skills {
    padding: 20px;
}

#skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#skills li {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* Estilos do rodapé */
footer {
    background-color: #f2f2f2;
    text-align: center;
    margin-bottom: 0;
}

footer h3 {
    color: #666;
    font-size: 20px;
    margin-bottom: 5px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    color: #f2f2f2;
    margin-bottom: 5px;
}
